@model LotteryVoteMVC.Models.PwdModel
@using LotteryVoteMVC.Resources
<div id="changePwdPanel" style="display: none;">
    @using (Html.BeginForm("ChangePassword", "Account"))
    { 
        <dl>
            <dt>@Resource.Password</dt>
            <dd>@Html.PasswordFor(it => it.Password)</dd>
            <dt>@Resource.Confirm</dt>
            <dd>@Html.PasswordFor(it => it.ConfirmPassword)</dd>
            @Html.HiddenFor(it => it.YourPassword)
        </dl>
        <p style="text-align:right;">
            <span>
                <input type="submit" name="change" id="change" value="@Resource.Submit" /></span><span>
                    <a class="button reset_btn" href="/" style="color: #fff;">@Resource.Cancel</a></span></p>
    }
</div>
