@using LotteryVoteMVC.Core.Application
@using LotteryVoteMVC.Core
@using LotteryVoteMVC.Models
@using LotteryVoteMVC.Resources
@using LotteryVoteMVC.Utility
@model PagedList<DropWater>
@{int index = 1;}
<table cellpadding="0" cellspacing="0" style="width: 100%">
    <thead>
        <tr>
            <td colspan="7">
                @ViewBag.Title
            </td>
        </tr>
        <tr>
            <td>
                @Resource.No
            </td>
            <td>
                @Resource.Num
            </td>
            <td>
                @Resource.Company
            </td>
            <td>
                @Resource.GameType
            </td>
            <td>
                @Resource.Amount
            </td>
            <td>
                @Resource.DropWater
            </td>
            <td>
                @Resource.Function
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var drop in Model)
        { 
            <tr>
                <td>
                    @(index++)
                </td>
                <td>
                    @drop.Num
                </td>
                <td>
                    @LotterySystem.Current.FindCompany(drop.CompanyId).Name
                </td>
                <td>
                    @Extended.GetGPWDescription(drop.GamePlayWayId)
                </td>
                <td>
                    @drop.Amount
                </td>
                <td>
                    @drop.DropValue
                </td>
                <td>
                    @Html.ActionLink(Resource.Delete, "Remove", new { Id = drop.DropId }, new { onclick = "return confirm('Are you sure?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model)
