@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
    *{font-family:"Trebuchet MS" , Verdana, Helvetica, Sans-Serif,微软雅黑,黑体;color:#96999D}
    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:800px;min-height:300px;padding:30px 0 15px}* > body{background:url(@Url.Content("~/Content/Images/error_people.gif")) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}
    html{background:url(@Url.Content("~/Content/Images/body_bg.gif"));}
    body{padding:15px;  background-color:#fbf8ef;border: 0;outline: 0;}
    b{color:red}
  </style>
</head>
<body>
    <h2>
        @ViewBag.Title</h2>
    <p>@ViewBag.Message
    </p>
    <p>
        <ins id="sec"><b>5</b></ins>后自动跳转<a href="@ViewBag.Url">@ViewBag.Url</a></p>
</body>
<script type="text/javascript">
    t = 5; // 计数器
    setInterval("callDown()", 1000); // 启动1秒定时

    function callDown() {
        if (t < 0) return; // 计数器值小于0，表示尚未开始倒计时
        if (t == 0) // 计数器值为0，转向
            location = "@(ViewBag.Url ?? " / ")";
        sec.innerHTML = "<b>" + t + "</b>"; // 显示倒计时
        t--; // 计数器递减
    }
</script>
</html>
