@{
    Layout = null;
}
@using LotteryVoteMVC.Resources
<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
    <link href="@Url.Content("~/Content/error.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="error_wrap">
        <h1>
            @Resource.NoWay</h1>
        <p>
            @Resource.PageNotExist</p>
        <p>
            @Resource.CheckUrlCorrect</p>
        <p>
            @Resource.YouCan：<a href="/">@Resource.BackToHome</a></p>
    </div>
</body>
</html>
