@model LotteryVoteMVC.Models.User
@using LotteryVoteMVC.Models
@using LotteryVoteMVC.Resources
@{
    ViewBag.Title = "NavMenu";
}
<div id="menubar" class="menubar">
    <ul id="menus" class="menus">
        <li>@Html.ActionLink(Resource.Message, "", "Message")
            <ul class="children" style="display: none">
                @*<li>@Html.ActionLink(Resource.LoginLog, "Login", "Log")</li>*@
                @if (Model.Role != Role.Guest)
                {
                    <li>@Html.ActionLink(Resource.ActionLog, "Action", "Log") </li>
                }
                <li>@Html.ActionLink(Resource.LoginFailed, "LoginFailed", "Log")</li>
            </ul>
        </li>
        @if (Model.Role == Role.Guest)
        {
            <li><a>@Resource.Bet</a>
                <ul class="children" style="display: none">
                    <li>@Html.ActionLink(Resource.VietnamLottery, "", "Bet")</li>
                    <li>@Html.ActionLink(Resource.FastBet2D, "FastBet2D", "Bet")</li>
                    <li>@Html.ActionLink(Resource.FastBet3D, "FastBet3D", "Bet")</li>
                    <li>@Html.ActionLink(Resource.Roll7, "Roll7", "Bet") </li>
                    <li>@Html.ActionLink(Resource.RollParlay, "RollParlay", "Bet") </li>
                    <li>@Html.ActionLink("ABC PL2", "ABRollParlay", "Bet") </li>
                    <li>@Html.ActionLink(Resource.Zodiac, "Zodiac", "Bet")</li>
                    <li>@Html.ActionLink(Resource.BetRule, "Rule", "Bet")</li>
                </ul>
            </li>
            <li>@Html.ActionLink(Resource.BetList, "Bet", "Sheet")
                @*<ul class="children" style="display: none">
                    <li>@Html.ActionLink(Resource.OrderList, "", "Order")</li>
                </ul>*@ </li>
            <li>@Html.ActionLink(Resource.Statement, "Statement", "Report")</li>
        }
        else
        {
            <li>@Html.ActionLink(Resource.User, "", "Account")
                <ul class="children" style="display: none">
                    <li>@Html.ActionLink(Resource.SubUser, "Shadow", "Account")</li>
                </ul>
            </li>
            <li>@Html.ActionLink(Resource.Commission, "", "Commission")</li>
        
            <li>@Html.ActionLink(Resource.BetList, "", "Sheet")
                <ul class="children" style="display: none">
                    @if (Model.Role == Role.Company)
                    {
                        <li>@Html.ActionLink(Resource.OrderList, "All", "Order") </li>
                        <li>@Html.ActionLink(Resource.Company + Resource.Statistics, "CompanyAmountRanking", "Report")</li>
                    }
                    <li>@Html.ActionLink("2D" + Resource.NumberStatistics, "NumAmountRanking", "Report")</li>
                    <li>@Html.ActionLink("3D" + Resource.NumberStatistics, "ThreeDNumAmountRanking", "Report")</li>
                    <li>@Html.ActionLink(Resource.CancelList, "Cancel", "Report")</li>
                    @for (int i = (int)Model.RoleId + 1; i <= (int)Role.Guest; i++)
                    { 
                        <li>@Html.ActionLink(Resource.ResourceManager.GetString(((Role)i).ToString()), "EachLevel", "Report", new { RoleId = i }, null)</li>
                    }
                </ul>
            </li>
        }
        @if (Model.Role != Role.Guest)
        {
            <li><a href="#" title="Balance Report">@Resource.Report</a>
                <ul class="children" style="display: none;">
                    @if (Model.Role < Role.Guest)
                    {
                        <li>@Html.ActionLink(Resource.WinLost, "", "Report")</li>
@*  <li>@Html.ActionLink(Resource.FullStatements,"FullStatements","Report")</li>*@
                    }
                    @if (Model.Role == Role.Company)
                    { 
                        <li>@Html.ActionLink(Resource.Win, "WinReport", "Order")</li>
                        
                    }
                    @if (Model.Role != Role.Guest)
                    {
                    <li>@Html.ActionLink(Resource.Guest, "Member", "Report")</li>
                    }
@*else
                {
                    <li>@Html.ActionLink(Resource.WinLost, "MemberWL", "Report") </li>
                }*@
                    @if (Model.Role == Role.Company)
                    {
                        <li>@Html.ActionLink(Resource.DropWater, "DropWater", "Log")</li>
                    }
                </ul>
            </li>
        }
        else
        { 
            <li>@Html.ActionLink(Resource.DropWater, "DropWater", "Log")</li>
        }
        @if (Model.Role == Role.Company)
        { 
            <li><a href="#">@Resource.Setting</a>
                <ul class="children" style="display: none">
                    <li>@Html.ActionLink(Resource.TodayWater, "Today", "DropWater")</li>
                    <li>@Html.ActionLink(Resource.TomorrowDropWater, "Tomorrow", "DropWater")</li>
                    <li>@Html.ActionLink(Resource.AutoDropWater, "", "DropWater")</li>
                    <li>@Html.ActionLink(Resource.BatterBetLimit, "BetAuto", "DropWater")</li>
                    <li>@Html.ActionLink(Resource.LimitMonitor, "UpperMonitor", "Limit")</li>
                    <li>@Html.ActionLink(Resource.StopAcceptBet, "StopUpperLimits", "Limit")</li>
                    <li>@Html.ActionLink(Resource.DefaultUpperLimit, "DefaultUpper", "Limit")</li>
                    <li><a id="gameLimit" href="javascript:editComLimit()">@Resource.MemberGameLimit</a></li>
                </ul>
            </li>
            <li>@Html.ActionLink(Resource.Settle, "", "Settle")</li>
        }
        <li>@Html.ActionLink(Resource.LotteryResult, "LotteryResult", "Company")
            <ul class="children" style="display: none">
                <li>@Html.ActionLink(Resource.Schedule, "", "Company") </li>
            </ul>
        </li>
        <li><a href="javascript:updatePwd();" class="updatePassWord">@Resource.Password</a></li>
        <li style="border: none">@Html.ActionLink(Resource.Logout, "Logout", "Member")</li>
    </ul>
</div>
