@using LotteryVoteMVC.Resources
@{
    Layout = null;
}
<h3 class="headerbar">
    <font><font>@Resource.Amount</font></font></h3>
<ul>
    <li><a class="abMount"><span>@Resource.BetCredit:</span><span id="betCredit" style="font-weight:700;color:#fff">@ViewBag.BetCredit.ToString("N")</span></a></li>
    <li><a class="abMount"><span>@Resource.Outstanding:</span><span id="outstanding" style="font-weight:700;color:#ff6666">@ViewBag.Outstanding.ToString("N")</span></a></li>
</ul>
