@model IEnumerable<LotteryVoteMVC.Models.LotteryCompany>
@using LotteryVoteMVC.Models
@using LotteryVoteMVC.Resources
@using LotteryVoteMVC.Utility
@{
    ViewBag.Title = Resource.VietnamLottery;
    Layout = "~/Views/Red/Shared/BetMain.cshtml";
}
@section Head
{
    <script src="@Url.Content("~/Scripts/Customer/bet.red.js")?v=1.1" type="text/javascript"></script>
}
@{
    Func<GameType, PlayWay, string> BuildWagerInputName = (GameType gt, PlayWay pw) =>
    {
        var gpw = ((IList<GamePlayWay>)ViewBag.GamePlayWays).Find(it => it.GameType == gt && it.PlayWay == pw);
        return string.Format("{0}_{1}_{2}", (int)gt, pw, gpw.Id);
    };
}
<div style="height: *; width: 100%; min-width: 800;">
    <table id="betTable" width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#FFFFFF">
        <tbody>
            <tr>
                <td colspan="10" align="center" bgcolor="#FFFF99">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
                        <tbody>
                            <tr>
                                <td width="50%" align="left">
                                    <strong><font><font>2D投注 - 南（城 - 龙安）</font></font></strong>
                                </td>
                                <td width="50%" align="right">
                                    @using (Html.BeginForm())
                                    {
                                        <font><font>
                                            <input type="submit" name="submit" value="投注" class="input-command"></font></font>
                                        <font><font>
                                            <input type="reset" name="cancel" value="取消" class="input-command"></font></font>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th width="50" rowspan="2" align="center" bgcolor="#CCCCCC" scope="col">
                    <strong><font><font>@Resource.Num</font></font></strong>
                </th>
                <th width="62" height="20" align="center" bgcolor="#CCCCCC" scope="col">
                    <strong><font><font>@Resource.Head</font></font></strong>
                </th>
                <th width="62" height="20" align="center" bgcolor="#CCCCCC" scope="col">
                    <strong><font><font>@Resource.Last</font></font></strong>
                </th>
                <th width="62" align="center" bgcolor="#CCCCCC" scope="col">
                    <font><font>@Resource.HeadAndLast</font></font>
                </th>
                <th width="62" align="center" bgcolor="#CCCCCC" scope="col">
                    <font><font>@Resource.Roll</font></font>
                </th>
                <th width="62" align="center" bgcolor="#CCCCCC" scope="col">
                    <font><font>@Resource.Roll7</font></font>
                </th>
                <th align="center" bgcolor="#CCCCCC" scope="col" style="min-width: 150px;">
                    <font><font>@Resource.Company</font></font>
                </th>
                <th width="110" rowspan="2" align="center" bgcolor="#CCCCCC" scope="col">
                    <font><font>@Resource.Turnover</font></font>
                </th>
                <th width="110" rowspan="2" align="center" bgcolor="#CCCCCC" scope="col">
                    <font><font>@Resource.Commission</font></font>
                </th>
                <th width="111" rowspan="2" align="center" bgcolor="#CCCCCC" scope="col">
                    <font><font>@Resource.NetAmount</font></font>
                </th>
            </tr>
            <tr bgcolor="#CCCCCC">
                <th width="62" height="20" align="center" bgcolor="#CCCCCC" scope="col">
                    <input type="text" class="matrix-text" />
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </th>
                <th width="62" height="20" align="center" bgcolor="#CCCCCC" scope="col">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </th>
                <th width="62" align="center" bgcolor="#CCCCCC" scope="col">
                    <input type="text" class="matrix-text" />
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </th>
                <th width="62" align="center" bgcolor="#CCCCCC" scope="col">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </th>
                <th width="62" align="center" bgcolor="#CCCCCC" scope="col">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </th>
                <th align="center" bgcolor="#CCCCCC" scope="col">
                    <input type="checkbox" class="chk_all_com" id="chk_all_com_check" />
                    <label for='chk_all_com_check'>
                        @Resource.All</label>
                    @foreach (var company in Model)
                    {
                        <span class='allCheck_@(company.Region)' style="display:inline-block;">
                            <input id="allCheck_@(company.CompanyId)" name="allCheck_@(company.CompanyId)" type="checkbox"
                                class="allChecked" />
                            <label for='allCheck_@(company.CompanyId)'>
                                @company.Abbreviation</label>
                        </span>
                    }
                </th>
            </tr>
            <tr>
                <td colspan="10" style="min-width: 850px;">
                    <div>
                        <table id="betTableContent" class="tablestyle" cellspacing="0" border="1" style="width: 100%;
                            border-collapse: collapse;">
                            <tbody>
                                @for (int i = 1; i <= 15; i++)
                                {
                                    <tr class="altrowstyle">
                                        <td align="center" style="width: 50px;">
                                            <input type="text" maxlength="2" rowid='@i' class="num 2d-num matrix-text-short">
                                        </td>
                                        <td align="center" style="width: 62px;">
                                            <input id='@BuildWagerInputName(GameType.TwoDigital, PlayWay.Head)_@(i)'type="text" disabled="disabled" class="wager@(i) matrix-text">
                                        </td>
                                        <td align="center" style="width: 62px;">
                                            <input id='@BuildWagerInputName(GameType.TwoDigital, PlayWay.Last)_@(i)' type="text" disabled="disabled" class="wager@(i) matrix-text">
                                        </td>
                                        <td align="center" style="width: 62px;">
                                            <input id='@BuildWagerInputName(GameType.TwoDigital, PlayWay.HeadAndLast)_@(i)' type="text" disabled="disabled" class="wager@(i) matrix-text">
                                        </td>
                                        <td align="center" style="width: 62px;">
                                            <input id='@BuildWagerInputName(GameType.TwoDigital, PlayWay.Roll)_@(i)' type="text" disabled="disabled" class="wager@(i) matrix-text">
                                        </td>
                                        <td align="center" style="width: 62px;">
                                            <input id='@BuildWagerInputName(GameType.TwoDigital, PlayWay.Roll7)_@(i)' type="text" disabled="disabled" class="wager@(i) matrix-text">
                                        </td>
                                        <td align="center">
                                            <input type="checkbox" class="chk_all_com" id="chk_@(i)_all_com" />
                                            <label for="chk_@(i)_all_com">
                                                @Resource.All</label>
                                            @foreach (var company in Model)
                                            {
                                                <span style="padding-left: 1px; padding-right: 1px; display: inline-block; zoom: 1;">
                                                    <input name='company@(company.CompanyId + "_" + i)' company='@company.CompanyId' id='company@(company.CompanyId)_@(i) ' type="checkbox" class='company@(i)' region='@company.Region' />
                                                    <label for='company@(company.CompanyId)_@(i) '>
                                                        @company.Abbreviation</label>
                                                </span>
                                            }
                                        </td>
                                        <td align="center" style="width: 110px;">
                                            <font><font id='amount@(i)' class="turnover">0.00 </font></font>
                                        </td>
                                        <td align="center" style="width: 110px;">
                                            <font><font id="comm@(i)" class="commission">0.00 </font></font>
                                        </td>
                                        <td align="center" style="width: 110px;">
                                            <font><font id="net@(i)" class="netvalue">0.00 </font></font>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#CCCCCC">
                    &nbsp;
                </td>
                <td width="62" align="center" bgcolor="#CCCCCC">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </td>
                <td width="62" align="center" bgcolor="#CCCCCC">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </td>
                <td width="62" align="center" bgcolor="#CCCCCC">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </td>
                <td width="62" align="center" bgcolor="#CCCCCC">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </td>
                <td width="62" align="center" bgcolor="#CCCCCC">
                    <input type="text" class="matrix-text">
                    <font><font>
                        <input type="button" class="cell-set" value="行"></font></font>
                </td>
                <td align="center" bgcolor="#CCCCCC" scope="col">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px">
                        <tbody>
                            <tr>
                                <td align="center" style="font-size: 11px; font-weight: bold;">
                                    @foreach (var company in Model)
                                    {
                                        <span class='allCheck_@(company.Region)' style="display:inline-block;">
                                            <input id="allCheck_@(company.CompanyId)" name="allCheck_@(company.CompanyId)" type="checkbox" class="allChecked" />
                                            <label for='allCheck_@(company.CompanyId)'>
                                                @company.Abbreviation</label>
                                        </span>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td align="center" bgcolor="#CCCCCC">
                    <strong id="total-amount">0.00</strong>
                </td>
                <td align="center" bgcolor="#CCCCCC">
                    <strong id="total-comm">0.00</strong>
                </td>
                <td align="center" bgcolor="#CCCCCC">
                    <strong id="total-net">0.00</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>
