@using LotteryVoteMVC.Models
@using LotteryVoteMVC.Resources
@using LotteryVoteMVC.Utility
@model PagedList<LoginLog>
@{
    ViewBag.Title = Resource.Log;
    Layout = "~/Views/Red/Shared/Main.cshtml";
}
@section Header{
    <link href="@Url.Content("~/Content/TableBase.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Pager/pagerGray.css")" rel="stylesheet" type="text/css" />
}
@{int index = 1;}
<table>
    <thead>
        <tr>
            <td colspan="3">
                @ViewBag.User.UserName
            </td>
        </tr>
        <tr>
            <td>
                @Resource.No
            </td>
            <td>
                @Resource.Time
            </td>
            <td>
                @Resource.IPAddress
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        { 
            <tr>
                <td>
                    @(index++)
                </td>
                <td>
                    @log.LastLoginTime
                </td>
                <td>
                    @log.IP
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model)
