@using LotteryVoteMVC.Core.Application
@using LotteryVoteMVC.Core
@using LotteryVoteMVC.Models
@using LotteryVoteMVC.Resources
@using LotteryVoteMVC.Utility
@model PagedList<DropWater>
@{
    ViewBag.Title = Resource.AutoDropWater;
    Layout = "~/Views/Red/Shared/Main.cshtml";
}
@section Header
{
    <script src="@Url.Content("~/Scripts/Customer/SearchHelper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Customer/TableBase.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/TableBase.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/inputs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Pager/pagerGray.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .inner
        {
            overflow: hidden;
            padding: 5px 0px;
        }
        .inner div
        {
            float: left;
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".submit").bind("click", function () {
                var url = $(this).attr("action");
                IsSearch = false;
                $("form").attr("action", url).trigger("submit");
            });
        });
    </script>
}
@{int index = 1;}
<div id="searchBar">
    @using (Html.BeginForm())
    {
        <span>@Resource.GameType</span>
        @Html.Partial("~/Views/Partial/GamePlayWay.cshtml", LotterySystem.Current.GamePlayWays)
        <span>@Resource.Amount</span>
        @Html.TextBox("Amount")
        <span>@Resource.DropWater</span>
        @Html.TextBox("DropWater")
        <input type="submit" name="search" id="search" value="@Resource.Search" />
        <div class="inner">
            <span>
                @Resource.CompanyType</span>
            @Html.DropDownList("CompanyType", Extended.GetDescSelectList<CompanyType>(CompanyType.Hanoi))
            <input type="button" class="submit" id="add" name="add" value="@Resource.Add" action="/DropWater/AddAutoDrop" />
            <input type="button" class="submit" id="del" name="del" value="@Resource.Delete" action="/DropWater/Remove" />
        </div>
    }
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%">
    <thead>
        <tr>
            <td colspan="7">
                @Resource.AutoDropWater
            </td>
        </tr>
        <tr>
            <td>
                @Resource.No
            </td>
            <td>
                @Resource.Num
            </td>
            <td>
                @Resource.GameType
            </td>
            <td>
                @Resource.Amount
            </td>
            <td>
                @Resource.DropWater
            </td>
            <td>
                @Resource.CompanyType
            </td>
            <td>
                @Resource.Function
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var drop in Model)
        { 
            <tr>
                <td>
                    @(index++)
                </td>
                <td>
                    @drop.Num
                </td>
                <td>
                    @Extended.GetGPWDescription(drop.GamePlayWayId)
                </td>
                <td>
                    @drop.Amount.ToString("N")
                </td>
                <td>
                    @drop.DropValue
                </td>
                <td>
                    @(drop.CompanyType.HasValue ? Extended.GetDesc((CompanyType)drop.CompanyType.Value) : string.Empty)
                </td>
                <td>
                    @Html.ActionLink(Resource.Delete, "Remove", new { Id = drop.DropId }, new { onclick = "return confirm('Are you sure?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Pager(Model)
