@model LotteryVoteMVC.Models.Role
@using LotteryVoteMVC.Models
@using LotteryVoteMVC.Resources
@using LotteryVoteMVC.Resources.Login
<div id="Agreement" style="display: none">
    <ul style="list-style-type: decimal;">
        <li>@Login.Agreement1</li>
        <li>@Login.Agreement2</li>
        <li>@Login.Agreement3</li>
        <li>@Login.Agreement4</li>
        <li>@Login.Agreement5</li>
        <li>@Login.Agreement6</li>
        <li>@Login.Agreement7</li>
        <li>@Login.Agreement8</li>
        <li>@Login.Agreement9</li>
        <li>@Login.Agreement10</li>
        @if (!string.IsNullOrEmpty(Login.Agreement11))
        {
            <li>Login.Agreement11</li>
        }
    </ul>
    <div style="text-align: right">
        <input id="agree" type="button" onclick="javascript:window.location.href = '@(Model == Role.Guest?"/Bet":"/")'" value="@Login.agree" />
        <input id='disagree' type="button" onclick="javascript:window.location.href = '/member/logout'"
            value='@Login.Disagree' />
    </div>
</div>
